<h1>About rgov</h1>
<p class="emphasis">
  We connect citizens of India with their government <br/>
  <br/>
  <strong>What we do?</strong><br/>
  * We enable citizens to find useful information about their government<br/>
  * We enable citizens to request the government for public information<br/>
  * We enable government to communicate with their citizens directly<br/>
  <br/>
  <strong>What we do not do?</strong><br/>
  * We do not promote anarchy, we think a healthy functioning government is very important<br/>
  * We do not take responsibility for how citizens and governments choose to use our platform<br/>  
  <br/>
</p>