<script type="text/javascript">
$(function() {

 	// Below is the name of the textfield that will be autocomplete   
    $('#query').autocomplete({
 		// This shows the min length of charcters that must be typed before the autocomplete looks for a match.
    	minLength: 1,
 		// This is the source of the auocomplete suggestions. In this case a list of agency names from the pages controller, in JSON format.
    	source: '<%= pages_path(:json) %>',
  		// This updates the textfield when you move the updown the suggestions list, with your keyboard. 
  		// In our case it will reflect the same value that you see in the suggestions which is the page.orgname.
    	focus: function(event, ui) {
    		$('#query').val(ui.item.page.orgname);
        	return false;
    	},
 		// Once a value in the drop down list is selected, do the following:
        select: function(event, ui) {
 			// place the page.orgname value into the textfield called 'query'
            $('#query').val(ui.item.page.orgname);
 			// and place the page.id into the hidden textfield called 'link_query'. 
        	$('#link_query').val(ui.item.page.id);
        	var agencyURL = "pages/" + ui.item.page.id;
        	window.location.href = agencyURL;
            return false;
        }
    })
 	// The below code is straight from the jQuery example. It formats what data is displayed in the dropdown box, and can be customized.
    .data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
            .data( "item.autocomplete", item )
 			// For now which just want to show the page.orgname in the list.
            .append( "<a href=\"pages/" + item.page.id + "\">" + item.page.orgname + "</a>" )
            .appendTo( ul );
        };
    });
</script>


<h1 align="center">Search government offices</h1>

<p align="center">
  <input class="textbox" id="query"/>
  <input id="link_query" name="link[query]" type="hidden"/>
</p>


<p align="center">Didn't find the information you were looking for anywhere?</p>

<%= link_to "File an RTI", new_request_path, :class => "signup_button round" %>
<br/>
<p class="small" align="center">RTI means Right To Information. The Government of India created the Right To Information Act 
in 2005 to enable all citizens of India to request for information from government authorities.</p>

<h1 align="center" style="font-family: 'Pacifico', arial, serif;">
	<a href = "http://blog.rgov.in/2011/03/14/make-government-work-for-you/">govTalk</a>
</h1>
<p align="center" class="small">Learn how to navigate some common government processes</p>
