<h1 align="center">Search government offices</h1>

<p align="center">
  <input name="search" size="30" type="text" />	
</p>

<p align="center">Didn't find the information you were looking for anywhere?</p>

<%= link_to "File an RTI", root_path, :class => "signup_button round" %>
